<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script> 
    <script src="js/shoppingcart.js" type="text/javascript" async></script>
    </script>
    <title>Shopping Cart</title>
</head>

<body>
    <header class="cl-header">
        <div>
            <img src="/images/logo.jpg" alt="logo" class="cl-logo"/>
            <h3 class="cl-company-name">
                <b>House Store</b>
            </h3>
            <span>
                <a href="Home">Home</a>
                <a href="products">BuyMore</a>
                <a href="logoutme">Logout</a>
       </div>
    </header>
    <center>
        <h2 class="heading">Payment Done</h2>
        <br>
        <img src='images/'>
       <div class="cart-box" id="cart-box"> 
        <img src="/images/Paymentsuccessful.png" alt="Success" />
      </div>        
    </center>
</body>
</html>    